@import '../config/variable.scss';
@import '../config/mixin.scss';

.form-control {
	width: 100%;
	text-align: center;
	@include for-tablet-landscape-up {
		width: $formControl-width;
		text-align: left;
	}

	label {
		font-family: $formControl-label-font;
		color: $formControl-label-color;
	}

	input[type='text'],
	.input-radio-group
	{
		height: $formControl-input-height;
		width: $formControl-input-width;
		display: block;

		margin: 0 auto;
		margin-top: 15px;
		@include for-tablet-landscape-up {
				margin-left: 15px;
		}
	}

	select {
		margin-left: 10px;
		height: $formControl-input-height;
	}

	textarea {
		width: $formControl-input-width;
		display: block;

		margin: 0 auto;
		margin-top: 15px;
		@include for-tablet-landscape-up {
				margin-left: 15px;
		}
	}

	input[type='file'] {
		display: none;
	}
	.custom-file {
		display: flex;
		justify-content: space-between;

		> div {
			color: white;
			padding: 10px;
		}
		> div:first-child {
			background-color: #8a8a8a;
			width: 80%;
			text-align: left;
		}
		> div:last-child {
			text-align: center;
			background-color: #666;
			width: 20%;
		}
	}
}